/* nextflow.config */
env {
    PATH = "/opt/apps/singularity-3.8.7/bin:\$PATH"
}

singularity {
    enabled    = true
    autoMounts = true
}

profiles {
    local {
        process {
            executor = 'local'
            cpus     = 96
            memory   = '160 GB'

            // 針對個別 Process 客製化資源
            withName: 'ALIGN_BWA' {
                cpus   = 32
                memory = '90 GB'
            }
            withName: 'RUN_BIN3C' {
            cpus   = 16
            memory = '40 GB'
        }
            withName: 'RUN_JUICER_TOOLS' {
                cpus   = 16
                memory = '48 GB'
            }
        }
    }
    
    slurm_cpu {
        process {
            executor = 'slurm'
            queue = System.getenv('SLURM_JOB_PARTITION') ?: 'container'
            
            // 全域預設值
            cpus     = 16
            memory   = '32 GB'
            
            // 針對個別 Process 客製化資源
            withName: 'ALIGN_BWA' {
                cpus   = 32
                memory = '90 GB'
            }
            withName: 'RUN_BIN3C' {
            cpus   = 16
            memory = '40 GB'
        }
            withName: 'RUN_JUICER_TOOLS' {
                cpus   = 16
                memory = '48 GB'
            }
        }
    }

    slurm_gpu {
        process {
            executor = 'slurm'
            queue = 'cputest'
            
            // 全域預設值
            cpus     = 16
            memory   = '32 GB'
            
            // 針對個別 Process 客製化資源
            withName: 'RUN_HICCUPS' {
                cpus   = 32
                memory = '90 GB'
            // gres/gpu=2
                clusterOptions = '--gres=gpu:2' 
            // 亦可設定 Nextflow 內建的 accelerator 屬性 (用於通知 Nextflow)
            accelerator    = 1
            }
        }
    }
}

